version: '3'
services:
  web:
    build:
      context: .
    ports:
      - "3000:3000"
    volumes:
      - .:/rails
      - bundle_cache:/usr/local/bundle
      - storage_data:/rails/storage
    environment:
      - RAILS_ENV=development
    command: bash -c "rm -f tmp/pids/server.pid && bin/rails server -b 0.0.0.0 -p 3000"

volumes:
  bundle_cache:
  storage_data: