<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-2 mb-6">Ready for unforgettable experiences?</h2>
    <a href="<%= new_user_registration_path %>" class="button is-primary is-large is-rounded">
      <span>Start your adventure</span>
    </a>
  </div>
</section>
