
:root {
  --primary-color: #f8f0ff;
  --secondary-color: #5a0e8a;
  --text-color: #2a2a2a;
  --link-color: #5a0e8a;
}

[data-theme="dark"] {
  --primary-color: #121212;
  --secondary-color: #b388ff;
  --text-color: #e6e6e6;
  --link-color: #bb86fc;
}